"""

@Author: Naveen Madev Naik<br>
@Date: 2024-08-08<br>
@Last Modified by: Naveen Madev Naik<br>
@Last Modified time: 2024-08-08<br>
@Title: Read write operation on textinput format files using pyspark<br>

"""

In [50]:
from pyspark.sql import SparkSession

In [51]:
#Initializing the Spark Session
spark=SparkSession.builder\
        .appName("Read Write operation on inputformat files")\
        .getOrCreate()

### 1.Read and Writing csv file using pyspark

In [40]:
csv_filePath ="file:///C:/Users/naikn/OneDrive/Documents/python/Spark/new.csv"
df_csv = spark.read.csv(csv_filePath, header=True)

# Show the DataFrame
df_csv.show()

+----+---------------------------+--------------------+--------------------+------------------+-------------+--------------------+--------------------+------+----------------------+
|Year|Industry_aggregation_NZSIOC|Industry_code_NZSIOC|Industry_name_NZSIOC|             Units|Variable_code|       Variable_name|   Variable_category| Value|Industry_code_ANZSIC06|
+----+---------------------------+--------------------+--------------------+------------------+-------------+--------------------+--------------------+------+----------------------+
|2023|                    Level 1|               99999|      All industries|Dollars (millions)|          H01|        Total income|Financial perform...|930995|  ANZSIC06 division...|
|2023|                    Level 1|               99999|      All industries|Dollars (millions)|          H04|Sales, government...|Financial perform...|821630|  ANZSIC06 division...|
|2023|                    Level 1|               99999|      All industries|Dollars (millions)|          H05|Interest, dividen...|Financial perform...| 84354|  ANZSIC06 division...|
|2023|                    Level 1|               99999|      All industries|Dollars (millions)|          H07|Non-operating income|Financial perform...| 25010|  ANZSIC06 division...|
|2023|                    Level 1|               99999|      All industries|Dollars (millions)|          H08|   Total expenditure|Financial perform...|832964|  ANZSIC06 division...|
|2023|                    Level 1|               99999|      All industries|Dollars (millions)|          H09|Interest and dona...|Financial perform...| 55267|  ANZSIC06 division...|
|2023|                    Level 1|               99999|      All industries|Dollars (millions)|          H10|      Indirect taxes|Financial perform...|  7426|  ANZSIC06 division...|
|2023|                    Level 1|               99999|      All industries|Dollars (millions)|          H11|        Depreciation|Financial perform...| 30814|  ANZSIC06 division...|
|2023|                    Level 1|               99999|      All industries|Dollars (millions)|          H12|Salaries and wage...|Financial perform...|147663|  ANZSIC06 division...|
|2023|                    Level 1|               99999|      All industries|Dollars (millions)|          H13|Redundancy and se...|Financial perform...|   269|  ANZSIC06 division...|
+----+---------------------------+--------------------+--------------------+------------------+-------------+--------------------+--------------------+------+----------------------+

In [42]:
# Writing to CSV
df_csv.write.csv("file:///C:/Users/naikn/OneDrive/Documents/python/Spark/output.csv",)

### 2.Read and Writing in JSON File

In [43]:
df_json=spark.read.json("file:///C:/Users/naikn/OneDrive/Documents/python/Spark/sample_file.json")
df_json.show()

+---------------+----+----+----------+
|_corrupt_record| age|  id|      name|
+---------------+----+----+----------+
|              [|NULL|NULL|      NULL|
|           NULL|  30|   1|  John Doe|
|           NULL|NULL|   2|Jane Smith|
|           NULL|  25| abc|Invalid ID|
|           NULL|  28|   3|     Alice|
|              ]|NULL|NULL|      NULL|
+---------------+----+----+----------+

In [45]:
df_csv.write.json("file:///C:/Users/naikn/OneDrive/Documents/python/Spark/example.json")

### 3.Reading and writing text file

In [46]:
df_text=spark.read.text("file:///C:/Users/naikn/OneDrive/Documents/python/Spark/sample.txt")

In [47]:
df_text.write.text("file:///C:/Users/naikn/OneDrive/Documents/python/Spark/output.txt")

### 4.Reading CSV file and writing in text and json fromat

In [67]:
csv_file_path = r"file:///C:/Users/naikn/OneDrive/Documents/python/Spark/new.csv"
df_csv = spark.read.option("header", True).csv(csv_file_path,inferSchema=True)

# Writing the DataFrame to a JSON file
json_file_path = "file:///C:/Users/naikn/OneDrive/Documents/python/Spark/outputfile.json"
df_csv.write.json(json_file_path,mode="overwrite")

In [ ]:
#converting json string
df_json_strings = df_csv.toJSON()

#json string to text file
text_file_path = "file:///C:/Users/naikn/OneDrive/Documents/python/Spark/outputfile.json.txt"
df_json_strings.saveAsTextFile(text_file_path)